body { 
    background-color:rgb(178, 235, 197); 
    margin:0; 
    padding:0; 
}
#titleheader{
    font-size: 18px;
    font-family: verdana;
    text-align: center;
}
/*#weatherinfo{
    /*background-color: red;
}
*/
 .info{
    /*background-color: black;*/
    /*color: white;*/
    font-size: 14px;
    margin: 2px;
    padding: 2px;
 }


#map{
    text-align: left; 
    vertical-align: bottom; 
    position: absolute; 
    width: 100vw; 
    height: 70vh;
}



